<!DOCTYPE html>
<html>
<head>
  <link href="/CSS/styles.css" rel="stylesheet" type="text/css">
  <title>Web Development 2 - Project Website!</title>
</head>
<body>

<% if(locals.user) { %>
<input type="hidden" value="<%= user.AccountID %>" id="user_id" />
<% user.Projects.forEach(function(posts){ %>

  <div class="projectTiles">
          <div class="container">
              <h4><%= posts.Name %></h4>
              <p>Start date Insert // end date insert</p>
              <p><%= posts.Desc %></p>
              <a href="#"><p>Shareable link</p></a>
          </div>
      </div>

  <% posts.milestones.forEach(function(milestone){ %>
    <div class="milestoneTiles">
            <div class="container">
                <h4><%= milestone.Name %></h4>
                <p>Start date Insert // end date insert</p>
                <p><%= milestone.Desc %></p>
                <a href="#"><p>Shareable link</p></a>
            </div>
        </div>
  <% }) %>
<% }) %>

    <div class="projectAdd">
        <div class="container">
            <h4>+ add Project</h4>
            <form onsubmit="">
                <input type="text" id="pname" name="pname" required placeholder="Project Name"><br>
                <textarea type="text" id="pdesc" name="pdesc" required placeholder="Description" style="height: 200px"></textarea><br>
                <input type="text" id="pdatedue" name="pdatedue" required placeholder="Project Start"><br>
                <input type="text" id="pdatecomp" name="pdatecomp" required placeholder="Project End"><br>
                <input type="submit" value="add">
            </form>
        </div>
    </div>

    <div class="milestoneAdd">
        <div class="container">
            <h4>+ add Milestones</h4>
            <form onsubmit="">
                <input type="text"id="mname" name="mname" required placeholder="Milestone Name"><br>
                <textarea type="text" id="mdesc" name="mdesc" required placeholder="Description" style="height: 200px"></textarea><br>
                <input type="text" id="mdatedue" name="mdatedue" required placeholder="Milestone Start"><br>
                <input type="text" id="mdatecomp" name="mdatecomp" required placeholder="Milestone End"><br>
                <input class="milestone" type="submit" value="add">
            </form>
        </div>
    </div>

<!--<form>
    <div class="field">
        <label for="pname">Name:</label>
        <input type="text" id="pname" name="pname" required>
    </div>

    <div class="field">
        <label for="pdesc">Description:</label>
        <input type="text" id="pdesc" name="pdesc" required>
    </div>
    <div class="field">
        <label for="pdatedue">Date Due:</label>
        <input type="text" id="pdatedue" name="pdatedue" required>
    </div>
    <div class="field">
        <label for="pdatecomp">Date Complete:</label>
        <input type="text" id="pdatecomp" name="pdatecomp" required>
    </div>
    <div class="field">
        <button id="addproject" onclick>Send</button>
    </div>
</form>-->
<!--<form>
    <div class="field">
        <label for="pname">Name:</label>
        <input type="text" id="pname" name="pname" required>
    </div>

    <div class="field">
        <label for="pdesc">Description:</label>
        <input type="text" id="pdesc" name="pdesc" required>
    </div>
    <div class="field">
        <label for="pdatedue">Date Due:</label>
        <input type="text" id="pdatedue" name="pdatedue" required>
    </div>
    <div class="field">
        <label for="pdatecomp">Date Complete:</label>
        <input type="text" id="pdatecomp" name="pdatecomp" required>
    </div>
    <div class="field">
        <button id="addproject" onclick>Send</button>
    </div>
</form>-->
<h4> User is logged in! </h4>
<% } else{ %>
<form>
    <div class="field">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div class="field">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div class="field">
        <button type="submit" id="loginb">Login</button>
    </div>
</form>
<% if (locals.message) { %>
    <h2><%= locals.message %></h2>
<% } %>
<% if (locals.user_id) { %>
    <h2><%= locals.user_id %></h2>
<% } %>
  <p>Organise your projects and organise your life</P>
<% } %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/JS/main.js"></script>
</body>
